$indi-color-blue-42: #004AD4;
$indi-color-blue-48: #006FF4;
$indi-color-blue-61: #4292F4;
$indi-color-blue-75: #89BAF4;
$indi-color-blue-93: #D9EBFF;
$indi-color-neutral-15: #262626;
$indi-color-neutral-25: #404040;
$indi-color-neutral-38: #616161;
$indi-color-neutral-50: #808080;
$indi-color-neutral-62: #9E9E9E;
$indi-color-neutral-74: #BDBDBD;
$indi-color-neutral-88: #E0E0E0;
$indi-color-neutral-93: #EEEEEE;
$indi-color-neutral-97: #F7F7F7;
$indi-color-neutral-100: #FFFFFF;
$indi-color-green-32: #6EA100;
$indi-color-green-37: #B5BD00;
$indi-color-green-87: #E4F1C9;
$indi-color-yellow-50: #FFAB00;
$indi-color-orange-50: #FF7500;
$indi-color-orange-79: #FFDD96;
$indi-color-red-36: #B80014;
$indi-color-red-52: #EE1B32;
$indi-color-red-95: #F9EAEC;
$indi-color-accent-32: #B5BD00;
$indi-color-accent-50: #FF7500;
$indi-color-interactive-default: #006FF4;
$indi-color-interactive-hover: #004AD4;
$indi-color-interactive-active-border-color: #B5BD00;
$indi-color-notification-success-default: #6EA100;
$indi-color-notification-success-background: #E4F1C9;
$indi-color-notification-warning-default: #FFAB00;
$indi-color-notification-warning-background: #FFDD96;
$indi-color-notification-alert-default: #B80014;
$indi-color-notification-alert-light: #EE1B32;
$indi-color-notification-alert-background: #F9EAEC;

$indi-background-color-default: #FFFFFF;
$indi-background-color-light: #F7F7F7;
$indi-background-color-disabled: #F7F7F7;

$indi-text-color-primary-default: #404040;
$indi-text-color-secondary-default: #616161;
$indi-text-color-link-default: #006FF4;
$indi-text-color-alert-default: #B80014;
$indi-text-color-disabled: #9E9E9E;

$indi-font-family-sans-serif: 'Source Sans Pro', sans-serif;
$indi-font-family-code: Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
$indi-font-size-default: 16px;
$indi-font-size-xs: 12px;
$indi-font-size-s: 14px;
$indi-font-size-m: 16px;
$indi-font-size-l: 18px;
$indi-font-size-xl: 24px;
$indi-font-size-xxl: 28px;
$indi-font-size-heading-level-1-xs: 38px;
$indi-font-size-heading-level-1-s: 44px;
$indi-font-size-heading-level-1-l: 56px;
$indi-font-size-heading-level-2-xs: 30px;
$indi-font-size-heading-level-2-s: 32px;
$indi-font-size-heading-level-2-l: 40px;
$indi-font-size-heading-level-3-xs: 24px;
$indi-font-size-heading-level-3-s: 28px;
$indi-font-size-heading-level-3-l: 32px;
$indi-font-size-heading-level-4-xs: 18px;
$indi-font-size-heading-level-4-s: 22px;
$indi-font-size-heading-level-4-l: 24px;
$indi-font-size-heading-level-5-xs: 16px;
$indi-font-size-heading-level-5-s: 18px;
$indi-font-size-heading-level-5-l: 20px;
$indi-font-size-heading-level-6-xs: 16px;
$indi-font-size-heading-level-6-l: 18px;
$indi-font-size-form-input: 18px;
$indi-font-size-intro-xs: 20px;
$indi-font-size-intro-s: 24px;
$indi-font-size-intro-l: 28px;
$indi-font-weight-light: 300;
$indi-font-weight-normal: 400;
$indi-font-weight-bold: 600;
$indi-font-line-height-default: 1.5;
$indi-font-line-height-body: 20px;
$indi-font-line-height-s: 22px;
$indi-font-line-height-m: 24px;
$indi-font-line-height-l: 28px;
$indi-font-line-height-xl: 34px;
$indi-font-line-height-xxl: 38px;
$indi-font-line-height-heading-level-1-xs: 44px;
$indi-font-line-height-heading-level-1-s: 50px;
$indi-font-line-height-heading-level-1-l: 64px;
$indi-font-line-height-heading-level-2-xs: 36px;
$indi-font-line-height-heading-level-2-s: 38px;
$indi-font-line-height-heading-level-2-l: 42px;
$indi-font-line-height-heading-level-3-xs: 32px;
$indi-font-line-height-heading-level-3-s: 34px;
$indi-font-line-height-heading-level-3-l: 38px;
$indi-font-line-height-heading-level-4-xs: 24px;
$indi-font-line-height-heading-level-4-s: 30px;
$indi-font-line-height-heading-level-4-l: 32px;
$indi-font-line-height-heading-level-5-xs: 22px;
$indi-font-line-height-heading-level-5-l: 24px;
$indi-font-line-height-heading-level-6-xs: 22px;
$indi-font-line-height-heading-level-6-l: 24px;
$indi-font-line-height-intro-xs: 28px;
$indi-font-line-height-intro-s: 32px;
$indi-font-line-height-intro-l: 38px;

$indi-size-icon-xs: 18px;
$indi-size-icon-s: 20px;
$indi-size-icon-m: 24px;
$indi-size-icon-l: 32px;
$indi-size-icon-xl: 48px;
$indi-size-layout-container-default: 1200px;
$indi-size-layout-header-height: 108px;

$indi-space-default: 16px;
$indi-space-xxs: 2px;
$indi-space-xs: 4px;
$indi-space-s: 8px;
$indi-space-m: 16px;
$indi-space-l: 32px;
$indi-space-xl: 64px;
$indi-space-inset-default: 16px 16px 16px 16px;
$indi-space-inset-xxs: 2px 2px 2px 2px;
$indi-space-inset-xs: 4px 4px 4px 4px;
$indi-space-inset-s: 8px 8px 8px 8px;
$indi-space-inset-m: 16px 16px 16px 16px;
$indi-space-inset-l: 32px 32px 32px 32px;
$indi-space-inset-xl: 64px 64px 64px 64px;
$indi-space-inset-squish-default: 8px 16px 8px 16px;
$indi-space-inset-squish-xs: 2px 4px 2px 4px;
$indi-space-inset-squish-s: 4px 8px 4px 8px;
$indi-space-inset-squish-m: 8px 16px 8px 16px;
$indi-space-inset-squish-l: 16px 32px 16px 32px;
$indi-space-stack-default: 0 0 16px 0;
$indi-space-stack-xs: 0 0 4px 0;
$indi-space-stack-s: 0 0 8px 0;
$indi-space-stack-m: 0 0 16px 0;
$indi-space-stack-l: 0 0 32px 0;
$indi-space-stack-xl: 0 0 64px 0;
$indi-space-inline-left-default: 0 16px 0 0;
$indi-space-inline-left-xs: 0 4px 0 0;
$indi-space-inline-left-s: 0 8px 0 0;
$indi-space-inline-left-m: 0 16px 0 0;
$indi-space-inline-left-l: 0 32px 0 0;
$indi-space-inline-left-xl: 0 64px 0 0;
$indi-space-inline-right-default: 0 0 0 16px;
$indi-space-inline-right-xs: 0 0 0 4px;
$indi-space-inline-right-s: 0 0 0 8px;
$indi-space-inline-right-m: 0 0 0 16px;
$indi-space-inline-right-l: 0 0 0 32px;
$indi-space-inline-right-xl: 0 0 0 64px;

$indi-shadow-color: rgba(0, 0, 0, .25);
$indi-shadow-datepicker-color: rgba(0, 0, 0, .06);

$indi-border-color-default: #9E9E9E;
$indi-border-color-disabled: #BDBDBD;
$indi-border-hairline-default: solid 1px #E0E0E0;
$indi-border-radius: 4px;

$indi-z-index-datepicker: 100;
$indi-z-index-header: 200;
$indi-z-index-modal: 800;
$indi-z-index-loader: 10000;

$indi-speed-transition-default: .3s;

$indi-breakpoints-mobile-portrait: 480px;
$indi-breakpoints-tablet-portrait: 768px;
$indi-breakpoints-desktop-portrait: 1200px;

$indi-theme-namespace: indi;
